.example {
    text-align: center;
    .btn {
        padding: 10px;
        font-size: 80px;
        background: #ccc;
    }
    .ctn {
        font-size: 80px;
    }
}

body,
div,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

.m {
    .m-continer {
        margin-top: 3rem;
        .m-content {
            margin-left: 15rem;
        }
    }
}